@media (max-width: 500px) {

#mision {
  margin-top: 120px;
}
#mision img{
  width: 50%;
  margin-top: 120px;


.mostrar{
    display:none;

}
}
}

.textoColorChronos { color: rgb(177, 35, 31)!important; }
.btnChronos {background-color: rgb(177,35,31)!important;
color: white!important;}
.text-platzi{
  color: #c70909;
}

.btn-platzi{
  background-color: #c70909;
  color: white;
}

.btn-platzi:hover{
  background-color: #c70909;
}

.badge-platzi{
  background-color: #c70909;
}

#header img{
    width: 90%;
  }

#main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover;

}

#carousel {
  position: relative;
}

#carousel .overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white; .row;
}

#carousel .overlay .container,
#carousel .overlay .container .row
{
  height: 100%;
}

#empresa, #misionvisionvalores, #clientes, #controlAccesoHorario, #controlhorario, #lectorCedula, #identidadDigital, #ProtecciondeSoftware, #controlacceso{ padding-top: 105px!important; }

#contacto{ padding-top: 70px!important; }


#copy {
  font-size: 12px!important;
}
}
